/.idea/checkstyle-idea.xml
/.idea/dbnavigator.xml
/floppa.iml
/.idea/libraries/Maven__com_sun_activation_jakarta_activation_2_0_0.xml
/.idea/libraries/Maven__com_sun_mail_jakarta_mail_2_0_0.xml
/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_0_0.xml
/.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_2_0_0.xml
/.idea/libraries/Maven__jakarta_json_bind_jakarta_json_bind_api_2_0_0.xml
/.idea/libraries/Maven__jakarta_json_jakarta_json_api_2_0_0.xml
/.idea/libraries/Maven__jakarta_validation_jakarta_validation_api_3_0_0.xml
/.idea/libraries/Maven__jakarta_ws_rs_jakarta_ws_rs_api_3_0_0.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_3_0_0.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_asm_3_0_0.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_core_3_0_0.xml
/.idea/libraries/Maven__org_eclipse_persistence_org_eclipse_persistence_moxy_3_0_0.xml
/.idea/libraries/Maven__org_eclipse_yasson_2_0_1.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_framework_3_0_0.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_3_0_0.xml
/.idea/libraries/Maven__org_glassfish_grizzly_grizzly_http_server_3_0_0.xml
/.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_3_0_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_api_3_0_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_3_0_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_3_0_1.xml
/.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_3.xml
/.idea/libraries/Maven__org_glassfish_jakarta_json_module_2_0_0.xml
/.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_grizzly2_http_3_0_2.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_3_0_2.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_3_0_2.xml
/.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_3_0_2.xml
/.idea/libraries/Maven__org_glassfish_jersey_ext_jersey_entity_filtering_3_0_2.xml
/.idea/libraries/Maven__org_glassfish_jersey_inject_jersey_hk2_3_0_2.xml
/.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_json_binding_3_0_2.xml
/.idea/libraries/Maven__org_glassfish_jersey_media_jersey_media_moxy_3_0_2.xml
/.idea/libraries/Maven__org_javassist_javassist_3_25_0_GA.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/workspace.xml
/target/classes/ulaval/glo2003/SellerResponse.class
